@font-face{
    font-family:'Gilroy';
    src:local('gilroy'),url(./Gilroy-Regular.ttf) format('truetype')
}

@font-face{
    font-family:'Gilroy';
    font-weight:300;
    src:local('gilroy'),url(./Gilroy-Thin.ttf) format('truetype')
}

@font-face{
    font-family:'Gilroy';
    font-weight:300;
    src:local('gilroy'),url(./Gilroy-Medium.ttf) format('truetype')
}

@font-face{
    font-family:'Gilroy';
    font-weight:300;
    src:local('gilroy'),url(./Gilroy-Regular.ttf) format('truetype')
}